.container .filters {
 color: #fff;
 height: 70px;
 width: 100%;
 border: 1px solid #ddd;
 border-radius: 4px;
}
.filters button {
font-size: 18px;
background-color: #FF5A5F;
color: #FFF;
height: 48px;
width: 20%;
border: 0;
border-radius: 4px;
margin: 11px 30px auto 0;
float: right;
}
.filters button:hover {
opacity: 0.9;
}
.locations, .amenities {
height: 100%;
width: 25%;
display: inline-block;
color: #000;
}
.locations {
border-right: 1px solid #DDD;
}
.locations h3, .amenities h3 {
font-weight: 600;
padding: auto;
height: 50%;
}
.locations h4, .amenities h4 {
font-weight: 400;
font-size: 14px;
height: 50%;
}
ul, li {
margin: 0;
padding: 0;
}
.filters .popover {
background-color: #FAFAFA;
border: 1px solid #DDD;
width: 100%;
border-radius: 4px;
position: absolute;
}
ul > h2 {
font-size: 16px;
}
.locations ul {
padding: 6px 0;
}
